{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
<style >


table, th, td {
 background-color: #fff;
  color: rgba(43,46,49,0.951) ; 
margin-left: -45px;
  font-size: 7pt;
border-radius: 20px;
border: 2px solid ;
  
}  

@media screen and (min-width: 480px) {
 table, th, td {
font-size:29pt;
 
  padding: 30px;
 }
  
  }
@media screen and (min-width: 480px){
 table {
   
   margin-left: -85px;
   
 }
  
  }  
</style>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td>{{ sum_totals | usd }}</td>
            </tr>
        </tfoot>
        <tbody>
            {% for summary in summaries %}
                <tr>
                    <td>{{ summary.symbol }}</td>
                    <td>{{ summary.company }}</td>
                    <td>{{ summary.sum_of_shares }}</td>
                    <td>{{ summary.price | usd }}</td>
                    <td>{{ summary.total | usd }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="4">CASH</td>
                <td>{{ owned_cash | usd }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}